*.suo
bin/
obj/
*.user
.vs
Library/
Logs/
Temp/
UserSettings/
Output/
ILRuntimeDemo/Packages/packages-lock.json
ILRuntimeDemo/.vsconfig
/out
ILRuntimeDemo/*.csproj
/*.csproj
/*.sln
/.idea
/Village_BurstDebugInformation_DoNotShip
/Village_BackUpThisFolder_ButDontShipItWithYourGame
/*.apk
/Valliage_BurstDebugInformation_DoNotShip
/Valliage_BackUpThisFolder_ButDontShipItWithYourGame
/Village 3_BackUpThisFolder_ButDontShipItWithYourGame
/Village 3_BurstDebugInformation_DoNotShip
